<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto_Sistema.View.Properties.Settings.bd_bancoMvcConnectionString"
            connectionString="Data Source=DESKTOP-A0D6SHM\RAFAEL;Initial Catalog=bd_bancoMvc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>